.section {
    background-image: url("../img/magician-shuffling-cards-cool-way-spotlight.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    width: 100vw;
    /* height: 2000px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 20%;
    height: 100vh;
    z-index: 40000;
    transition: all 2s ease-in;
}

.content {
    /* background-color:rgb(255, 255, 255); */
    width: 100vw;
    height: auto;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    width: 80%;
    text-align: justify;
    background-color: var(--h1-bg-color);
    border-radius: 20px;
}

.content h1 span {
    color: var(--color-span);
}

.row {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row h1 {
    opacity: 0.9;
}

.click-me-to-show {
    background-color: inherit;
    /* position: absolute; */
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.click-me-to-show img {
    width: 50px;
    height: 50px;
}

.click-me-to-hide {
    /* position: absolute; */
    width: 20px;
    background-color: inherit;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    border: 1px solid red;
    cursor: pointer;
    color: white;
    text-align: center;
    justify-content: center;
}

.click-me-to-hide:hover {
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

.click-me-to-show:hover {
    cursor: pointer;
}