html {
    background-color: black;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--a-text-color)
}

a:hover {
    color: var(--a-text-color-hover);
}

img {
    width: 100px;
    height: auto;
}

.download {
    border: 1px solid var(--button-border-color);
    color: var(--button-color-text) !important;
    border-radius: 7px;
    text-decoration: none;
    font-size: 24px;
    padding: 4px;
}

.download:hover {
    /* background-color:var(--button-color-bg-hover); */
    border: 1px solid var(--button-border-color-hover);
    color: var(--button-color-text-hover) !important;
    transition: all 0.4s ease-in;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--container-h1-color);
    padding: 10px;
}

.button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid crimson;
    transition: color .5s;
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: crimson;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button:hover {
    color: #fff;
}

.button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
.button:hover:before{
    top: -30px;
    left: -30px;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        margin-top: 0px;
        transform: translateX(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-50px) rotate(45deg);
    }
    40% {
        transform: translateX(-50px) rotate(90deg);
    }
    60% {
        transform: translateX(50px) rotate(45deg);
    }
    60% {
        transform: translateX(-50px) rotate(200deg);
    }
    100% {
        top: 110%;
        transform: translateX(-50px) rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        opacity: 0;
        top: -10%;
        margin-top: 0px;
        transform: translateX(20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateX(-50px) rotateY(-45deg);
    }
    40% {
        transform: translateX(-50px) rotateY(-90deg);
    }
    60% {
        transform: translateX(50px) rotateY(-45deg);
    }
    60% {
        transform: translateX(-50px) rotateY(-200deg);
    }
    100% {
        top: 110%;
        transform: translateX(-50px) rotatex(360deg);
    }
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(500px);
    }
}

/**/

.leaf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.leaf div {
    position: absolute;
    display: block;
}

.leaf div:nth-child(1) {
    left: 20%;
    animation: animate2 15s linear infinite;
    animation-delay: -10s;
}

.leaf div:nth-child(2) {
    left: 70%;
    animation: animate 15s linear infinite;
    animation-delay: -1s;
}

.leaf div:nth-child(3) {
    left: 10%;
    animation: animate2 20s linear infinite;
    animation-delay: -4s;
}

.leaf div:nth-child(4) {
    left: 50%;
    animation: animate2 18s linear infinite;
    animation-delay: -5s;
}

.leaf div:nth-child(5) {
    left: 85%;
    animation: animate2 14s linear infinite;
    animation-delay: -5s;
}

.leaf div:nth-child(6) {
    left: 15%;
    animation: animate2 16s linear infinite;
    animation-delay: -10s;
}

.leaf div:nth-child(7) {
    left: 90%;
    animation: animate2 15s linear infinite;
    animation-delay: -4s;
}

@keyframes fall {
    0% {
        opacity: 1;
        top: -10%;
        transform: translateX (20px) rotate(0deg);
    }
    20% {
        opacity: 0.8;
        transform: translateX (-20px) rotate(45deg);
    }
    40% {
        transform: translateX (-20px) rotate(90deg);
    }
    60% {
        transform: translateX (-20px) rotate(135deg);
    }
    80% {
        transform: translateX (-20px) rotate(180deg);
    }
    100% {
        top: 110%;
        transform: translateX (-20px) rotate(225deg);
    }
}

.leaf1 {
    transform: rotateX(180deg);
}